# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/promptlytic

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=supersecretkey

# Owner/Contact Info
OWNER_NAME=Chirag Dodiya
OWNER_EMAIL=hi@chirag.co

# For Prisma Client
PRISMA_CLIENT_ENGINE_TYPE=binary